<div class="card-deck">
  {% if include.limit %}
    {% assign limitVar = include.limit | plus: 0 %}
  {% endif %}
  {% for item in site.data.press.docs limit: limitVar %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          {% if item.feat-img %}
            <img
              src="{{ site.baseurl }}/assets/img/{{ item.feat-img }}"
              alt="{{ item.source }} logo"
              class="border sm mb-3">
          {% endif %}
          <h3 class="card-title h5">
            <a
              href="{{ site.baseurl }}{{ item.url }}"
              class="stretched-link"
              target="_blank">
              {{ item.title }}
            </a>
          </h3>
          <p class="card-text text-secondary">
            {{ item.source }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>