<div class="card-deck">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                <h3>
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                </h3>
                <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-footer text-muted">
                {% include date.html %}
            </div>
        </div>
    </div>
</div>