<div class="card-deck">
  {% if include.limit %}
    {% assign limitVar = include.limit | plus: 0 %}
  {% endif %}
  {% for item in site.projects limit: limitVar %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mb-3">
        <div class="card-body">
          {% if item.img-feat %}
            <img
              src="{{ site.baseurl }}/assets/img/{{ item.img-feat }}"
              alt="{{ item.title }}"
              class="lg mb-3 border">
          {% endif %}
          <h3 class="card-title h5">
            <a href="{{ item.url }}" class="stretched-link">
              {{ item.title }}
            </a>
          </h3>
          <p class=" card-text">
            {% if item.description %}
              {{ item.description }}
            {% endif %}
          </p>
        </div>
        <div class="card-footer text-muted">
          {% if item.author %}
            By {{ item.author }}<br>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>