<div class="col-12 pl-0 pr-0">
    <div class="card mb-3 mt-3">
        <div class="card-body p-0">
            <img src="/assets/img/govternment-technology.png" class="img-thumbnail bg-dark mb-3 mr-3 sm float-left"
                alt="...">
            <h3 class="h5">
                <a href="https://www.govtech.com/civic/a-young-civic-hacker-could-be-the-next-generation-of-gov-tech"
                    class="stretched-link">A Young Civic Hacker Could Be the Next Generation of
                    Gov Tech</a>
            </h3>
            <p>Equipped with publicly available data and an interest in making a difference, a 14-year-old self-taught
                coder is doing for government what it did not do for itself.</p>
        </div>
    </div>
</div>
<div class="col-12 pl-0 pr-0">
    <div class="card mb-3 mt-3">
        <div class="card-body p-0">
            <img src="/assets/img/future-in-context.png" class="img-thumbnail bg-dark mb-3 mr-3 sm float-left"
                alt="...">
            <h3 class="h5">
                <a href="https://www.govtech.com/civic/a-young-civic-hacker-could-be-the-next-generation-of-gov-tech"
                    class="stretched-link">The Future of Civic Hacking in Context</a>
            </h3>
            <p>A 14-year-old self-taught coder is doing for government what it did not do for itself. His dad helped but
                he learned how to hack alongside friends at a venerable but sometimes overlooked public institution –
                the library.</p>
        </div>
    </div>
</div>