{% if page.layout == "home" %}
<div class="jumbotron jumbotron-home bg-gradient pixelated-bg rounded-0 text-white mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ page.description }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% if page.description-2 %}
                <p class="lead mt-3 mb-4">{{ page.description-2 }}</p>
                {% endif %}
                {% include social.html size="" %}
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</div>
{% elsif page.layout == "event" %}
<div class="jumbotron jumbotron-home  rounded-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</div>
{% elsif page.layout == "speaker" %}
<div class="jumbotron jumbotron-home bg-gradient pixelated-bg rounded-0 text-white mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% if page.description %}
                <p class="lead mt-3 mb-4">{{ page.speaker-title }}, {{ page.speaker-org }}</p>
                {% endif %}
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron bg-gradient rounded-0 text-white mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                {% if page.description %}
                <p class="lead mt-3 mb-4">{{ page.description }}</p>
                {% endif %}
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}