---
layout: event
---

{% include header.html %}
{% include nav.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row post">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {% if page.speaker-name %}
                <h2>Speaker</h2>
                {% endif %}
                {% if page.speaker-img %}
                <p><img src="{{ site.baseurl }}/assets/img/people/{{ page.speaker-img }}" alt="{{ page.speaker-name }}"
                        class="md mt-2 img-circle rounded-circle"></p>
                {% endif %}
                {% if page.speaker-name %}
                <p>
                    {% if page.speaker-name %}
                    {{ page.speaker-name }}<br>
                    {% endif %}
                    {% if page.speaker-title %}
                    {{ page.speaker-title }}<br>
                    {% endif %}
                    {% if page.speaker-org %}
                    <a href="{{ page.speaker-org-link }}">{{ page.speaker-org }}</a>
                    {% endif %}
                </p>
                {% endif %}
                {% if page.date %}
                <h2>Date</h2>
                <p>
                    {% include date.html %}<br>
                    {{ page.time }}<br>
                </p>
                {% endif %}
                {% if page.date-tbd %}
                <h2>Date</h2>
                <p>
                    {{ page.date-tbd }}<br>
                    {{ page.date-tbd }}<br>
                </p>
                {% endif %}
                {% if page.speaker-name %}
                <h2>Location</h2>
                <p>
                    {{ page.location }}
                </p>
                {% endif %}
                {% if page.rsvp-link %}
                <h2>RSVP</h2>
                <p>
                    <a href="{{ site.baseurl }}/{{ page.rsvp-link}}" class="btn btn-primary">Register</a>
                </p>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                {{ content }}
                <h2>RSVP</h2>
                {% if page.rsvp-link %}
                <p>
                    <a href="{{ site.baseurl }}/{{ page.rsvp-link}}" class="btn btn-primary">Register</a>
                </p>
                <h2>Etc.</h2>
                <ul>
                    <li><a href="https://civichackingagency.github.io/docs/conduct">Code of conduct</a></li>
                    <li><a href="https://civichackingagency.github.io/docs/contact">Contact us</a></li>
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</main>
{% include analytics.html %}
{% include footer.html %}