---
layout: home
---

{% include header.html %}
{% include nav.html %}
  <main>
  {% include jumbotron.html %}
  <!--
    <div class="container mb-5 pb-5 border-bottom">  <div class="row">
      <div class="col-sm-12">
        <h2>{{ page.about-title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="h4">Civic hacking</h3>
        <p>Collaboratively designing democracy and coding for good.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 class="h4">Civic Hacking Agency</h3>
        <p>A father and son hacking for good.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ site.baseurl }}{{ page.about-link}}" class="btn btn-primary mt-3">{{ page.about-link-title
  }}</a>
      </div>
    </div>
  </div>
  -->
  <div class="container mb-5 pb-5 border-bottom">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ page.projects-title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% include card-projects.html limit=3 %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ site.baseurl }}{{ page.projects-link}}" class="btn btn-primary">{{
page.projects-title }}</a>
      </div>
    </div>
  </div>
  <!--
    {% if site.posts %}  <div class="container mb-5 pb-5 border-bottom">    <div class="row">      <div class="col-sm-12">        <h2>{{ page.news-title }}</h2>      </div>    </div>
      <div class="row">
        <div class="col-sm-12">
          {% assign posts = site.posts %}
          {% include card-posts.html limit=3 %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{{ site.baseurl }}{{ page.news-link}}" class="btn btn-primary">{{ page.news-title
  }}</a>
        </div>
      </div>
    </div>
  {% endif %}
  -->
  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ page.press-title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% include card-press.html limit=3 %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ site.baseurl }}{{ page.press-link}}" class="btn btn-primary">{{
page.press-title }}</a>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}