---
layout: post
---

{% include header.html %}
{% include nav.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="">
                    <p class="text-secondary">
                        {% include date.html %}
                    </p>
                    {{ content }}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
        </div>
    </div>
</main>
{% include analytics.html %}
{% include footer.html %}